:root {
    --color-primary: #47FDBB;
    --color-dark: #101314;
    --color-secondary: #1B2022;
}


.text-info{
    color: var(--color-primary) !important;
}

.bg-dark{
    background-color: var(--color-dark) !important;
}

h1{
    color: var(--color-primary);
}

.bg-secondary{
    background-color: var(--color-secondary) !important;
}

p{
    color: #f2f2f2 !important;
}

.btn-primary{
    background-color: var(--color-primary) !important;
    color: var(--color-dark);
    font-weight: 700 !important;
}

.btn{
    border: none !important;
}

.btn:hover{
    color: var(--color-dark) !important;
}
